<style type="text/css">
  .even-page {
    display: inline-block;
    border: 1px solid black;
    width: 875px; /* 12.125in = 873px + 2px for border */
    height: 866px; /* 12in = 864px + 2px for border */
    position: relative;
  }
  .container {
    box-sizing: border-box;
    position: absolute;
    border: 1px dotted #aaa;
  }
  .container.selected {
    background-color: #ccc;
    opacity: 0.6;
  }
  #sidebar {
    display: inline-block;
    width: 302px;
    margin-left: 20px;
    vertical-align: top;
    position: fixed;
  }
  #sidebar > div {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
  }
  #page-navigation {
    text-align: center;
  }
  #container-editor {
    height: 200px;
  }
</style>

<%= react_component('LayoutEditor') %>

